<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>819008592100-f5jlfhd9mgdr6266vcqhqdeofbmk5hd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819008592100-f5jlfhd9mgdr6266vcqhqdeofbmk5hd2</string>
	<key>API_KEY</key>
	<string>AIzaSyDXCq39Ee_Yh0ju7mdB6g8H2y2wcRSYWM4</string>
	<key>GCM_SENDER_ID</key>
	<string>819008592100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DeepCreations</string>
	<key>PROJECT_ID</key>
	<string>rtc-react-native</string>
	<key>STORAGE_BUCKET</key>
	<string>rtc-react-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819008592100:ios:5c950e2ec242b413</string>
	<key>DATABASE_URL</key>
	<string>https://rtc-react-native.firebaseio.com</string>
</dict>
</plist>